

.accordian {
    height: 50px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 2rem auto;
}
.accordian-second {
    height: 300px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}
.accordian > p {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}
.accordian-second {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}
